@font-face { font-family: "Yummy"; src: url("../landing-fonts/Yummy.ttf") format("truetype"); font-display: swap; }
@font-face { font-family: "Arcade Raiders"; src: url("../landing-fonts/ArcadeRaiders.ttf") format("truetype"); font-display: swap; }
@font-face { font-family: "Noisy Walk"; src: url("../landing-fonts/NoisyWalk.ttf") format("truetype"); font-display: swap; }
@font-face { font-family: "Stay Pixel"; src: url("../landing-fonts/StayPixel.ttf") format("truetype"); font-display: swap; }
@font-face { font-family: "04B 30"; src: url("../landing-fonts/04B_30.ttf") format("truetype"); font-display: swap; }
@font-face { font-family: "Pixel Chaos"; src: url("../landing-fonts/PixelChaos.ttf") format("truetype"); font-display: swap; }
@font-face { font-family: "Soap"; src: url("../landing-fonts/Soap.ttf") format("truetype"); font-display: swap; }
@font-face { font-family: "Syndra"; src: url("../landing-fonts/Syndra-SemiBold.otf") format("opentype"); font-weight: 600; font-display: swap; }
@font-face { font-family: "Dynamic Display"; src: url("../landing-fonts/DynamicDisplay.ttf") format("truetype"); font-display: swap; }
